
@media only screen and (max-width:240px) {
    .section-image{
        width: 200px;
    }



    /*----*/
    .promo-box-desc {
        margin-right: 0;
    }

    .promo-btn {
        display: inline-block;
        margin-top: 30px;
        position: static;
        width: 100%;
    }
    /*------*/

}

@media only screen and (min-width:241px) and (max-width:480px) {
    .section-image{
        width: 290px;
    }

    /*----*/
    .promo-box-desc {
        margin-right: 0 !important;
    }

    .promo-btn {
        display: inline-block;
        margin-top: 30px !important;
        position: static !important;
        width: 100%;
    }

    .wide-iconic-intro.left .desk {
        width: 65%;
    }
    .custom-iconic-intro.left .desk {
        width: 60%;
    }

    /*----*/


    .team-capsule {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

    .team-capsule , .team-capsule:hover {
        border: none;
        box-shadow: none;

    }

    .team-capsule .team-img, .team-capsule .team-desk {
        float: none;
    }

    .team-capsule .team-desk {
        width: auto;
        margin: 0;
    }

    .group-team li .mask {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .blog-info-right {
        padding: 30px 30px 0 20px;
    }
    .blog-info-left {
        padding: 30px 0 0 20px;
    }

    ul.grid-img li img {
        width: 185px;
    }



}

@media only screen and (max-width:479px) {

    .wide-iconic-intro.left .desk {
        width: 100%;
    }
    .wide-iconic-intro.left .icon-box, .wide-iconic-intro.left .desk {
        float: none;
        margin-right: 0;
    }
    .wide-iconic-intro.left {
        text-align: center;
    }

    .blog-info-right {
        padding: 30px 30px 0 20px;
    }

    .blog-info-left {
        padding: 30px 0 0 20px;
    }

    ul.grid-img li img {
        width: 185px;
    }

    /*portfolio   grid*/
    .portfolio.col-2 .portfolio-item,
    .portfolio.col-3 .portfolio-item,
    .portfolio.col-4 .portfolio-item,
    .portfolio.col-5 .portfolio-item,
    .portfolio.col-6 .portfolio-item {
        width: 100%;
        /*width: 50%;*/
    }


}

@media only screen and (min-width:481px) and (max-width:729px) {
    .section-image{
        width: 450px;
    }


    /*----*/
    .promo-box-desc {
        margin-right: 0;
    }

    .promo-btn {
        display: inline-block;
        margin-top: 30px;
        position: static;
    }
    .wide-iconic-intro.left .desk {
        width: 65%;
    }
    /*----*/

    .blog-info-right {
        padding: 30px 30px 0 20px;
    }

    .blog-info-left {
        padding: 30px 0 0 20px;
    }

    ul.grid-img li img {
        width: 185px;
    }
}


@media only screen and (min-width:801px) and (max-width:1024px) {
    .top-bar{
        height: auto;
    }
    #top-nav.navigation ul{
        margin: 0px;
        padding: 0px;
    }
    #top-nav.navigation > ul > li > a{
        padding: 0 13px;
    }

    /*portfolio   grid*/
    .portfolio.col-2 .portfolio-item,
    .portfolio.col-3 .portfolio-item,
    .portfolio.col-4 .portfolio-item,
    .portfolio.col-5 .portfolio-item,
    .portfolio.col-6 .portfolio-item {
        width: 33.3333333%;
        /*width: 50%;*/
    }

    html, body {
        z-index: 0 !important;
        overflow: scroll !important;
    }


}

@media only screen and (max-width:800px) {
    body {
        overflow-y:hidden;
    }
    .mobile-header {
        background: #fff;
        border-bottom: 1px solid #efefef;
        height: 50px;
        position: fixed;
        text-align: center;
        width: 100%;
        z-index: 1800;
    }
    .left-toggle {
        width:50px;
        height:50px;
        display:block;
        position:absolute;
        left:0px;
        top:0px;
        line-height:50px;
        font-size:24px;
    }
    .top-bar {
        display: none;
    }
    .numeric-factor-h{
        width: auto;
    }
    .promotional-banner{
        padding: 20px;

    }
    .promotional-banner .btn-wrap,.promotional-text{
        text-align: center;
    }

    .mobile-header {
        visibility: visible;
        display: block;
    }

    .feature-img img {
        width: 100%;
        height: auto;
    }

    /*portfolio   grid*/
    .portfolio.col-2 .portfolio-item,
    .portfolio.col-3 .portfolio-item,
    .portfolio.col-4 .portfolio-item,
    .portfolio.col-5 .portfolio-item,
    .portfolio.col-6 .portfolio-item {
        /*width: 33.3333333%;*/
        width: 50%;
    }

    .logo, .retina-logo {
        line-height: 50px;
    }

    .portfolio-details-section {
        margin: 50px 0;
    }

    .blog-banner {
        margin: 0 0 50px 0;
    }

    .boxed .wrapper {
        width: 100%;
    }

    html, body {
        z-index: 0 !important;
        overflow: scroll !important;
    }
}

@media only screen and (min-width:768px) and (max-width:800px) {

    .vdo-wrap{
        width: 700px;
        margin: auto;
    }
    .breadcrumb.pull-right {
        float: none !important;
    }

    .small-banner {
        text-align: center;
    }
    .recent-list li {
        float: left;
        margin: 0 0 10px;
        width: 50%;
    }

}

@media only screen and (min-width:0px) and (max-width:767px) {
    .vdo-wrap{
        width: 100%;
        margin: auto;
    }

    /*portfolio   grid*/
    .portfolio.col-2 .portfolio-item,
    .portfolio.col-3 .portfolio-item,
    .portfolio.col-4 .portfolio-item,
    .portfolio.col-5 .portfolio-item,
    .portfolio.col-6 .portfolio-item {
        width: 100%;
        /*width: 50%;*/
    }

    .breadcrumb.pull-right {
        float: none !important;
    }

    .small-banner {
        text-align: center;
    }
    .recent-list li {
        float: left;
        margin: 0 0 10px;
        width: 100%;
    }

    .banner-text h1  {
        font-size: 12px;
    }

    .banner-text h2 {
        font-size: 25px;
    }

    .short-banner .banner-text h2 {
        font-size: 12px;
    }

    .short-banner .banner-text h3 {
        font-size: 14px;
    }

    .short-banner p {
        font-size: 11px;
    }

    .cd-pricing-header h2 {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 3px;
        margin-top: 0;
        text-transform: uppercase;
    }

    .cd-popular .cd-btn {
        background: none;
    }

    .style-switcher {
        display: none;
    }
}



/* ----------------------------------------------------------------
	Retina CSS
-----------------------------------------------------------------*/


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

     a.logo,
     a.f-logo {
         display: none;
     }

     a.retina-logo,
     a.f-retina-logo {
         display: block;
     }



}

@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (   min--moz-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (     -o-min-device-pixel-ratio: 2/1) and (max-width: 991px),
only screen and (        min-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (                min-resolution: 192dpi) and (max-width: 991px),
only screen and (                min-resolution: 2dppx) and (max-width: 991px) {

     a.logo,
     a.f-logo  {
         display: none;
     }

     a.retina-logo,
     a.f-retina-logo {
         display: inline-block;
     }
}

